---
apiVersion: v1
kind: Secret
type: Opaque
data:
  secret: {{ secret }}
  username: {{ api_key }}
metadata:
  name: dome9-creds
  namespace: {{ namespace }}
---
apiVersion: v1
kind: ConfigMap
data:
  cluster.id: {{ cluster_id }}
metadata:
  name: cp-resource-management-configmap
  namespace: {{ namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cp-resource-management
  namespace: {{ namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cp-resource-management
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - nodes
  - services
  - nodes/proxy
  - serviceaccounts
  - namespaces
  verbs:
  - get
  - list
- apiGroups:
  - extensions
  resources:
  - ingresses
  verbs:
  - get
  - list
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - get
  - list
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  verbs:
  - get
  - list
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  - clusterroles
  - clusterrolebindings
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cp-resource-management
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cp-resource-management
subjects:
- kind: ServiceAccount
  name: cp-resource-management
  namespace: {{ namespace }}
---
